

<div class="container">
  <div class="contact-map" id="map"></div>
  <div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 hidden-xs">
    <div class="row">
      <div class="inner-map">
        <div class="inner-map-content">
          <h1>ارتباط با ما</h1>
          <hr>
          <p>.همه چیز به سادگی ایجاد شده است تا ارتباطی آسان شکل بگیرد</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="container margin-top" style="direction: rtl">
  <div class="contact-wrapper">
    <div class="row">
      <div class="col-md-3 float-right">
        <div class="contact-info">
          <span class="icon-info">
            <i class="pe-7s-phone"></i>
          </span>
          <span class="title-info">با ما تماس بگیرید:</span>
          <span class="description-info">9999 999 0999</span>
        </div>

        <div class="contact-info">
          <span class="icon-info">
            <i class="pe-7s-map-marker"></i>
          </span>
          <span class="title-info">آدرس:</span>
          <span class="description-info">تبریز شرکت نرم افزار وکسوس</span>
        </div>

        <div class="contact-info">
          <span class="icon-info">
            <i class="pe-7s-mail"></i>
          </span>
          <span class="title-info">ایمیل:</span>
          <span class="description-info">vexus&#64;gmail.com</span>
        </div>
      </div>

      <form method="GET">
        <div class="contact-form">
          <div class="col-md-5">
            <textarea placeholder="پیام"></textarea>
            <input type="submit" value="ارسال">
          </div>
           <div class="col-md-4">
            <input type="text" placeholder="نام *">
            <input type="text" placeholder="ایمیل *">
            <input type="text" placeholder="موضوع">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
