<div class="container">
  <div class="header-page ef-parallax-bg" style="background-image:url(../../../assets/img/about-header.jpg)">
    <div class="col-md-6 col-md-offset-6">
      <div class="row">
        <div class="inner-content">
          <div class="header-content">
            <h1>درباره ما</h1>
            <hr>
            <p>همه چیز در ساده ترین حالت ممکن تولید میشوند</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top" style="direction: rtl">
  <div class="main-title near-content">
    <h1>ما شرکت وکسوس هستیم</h1>
    <hr class="float-right">
  </div>
  <div class="row">
    <div class="col-md-4 float-right">
      <p style="font-size: 18px; line-height: 26px;">ما به زیبایی و امنیت احترام قائل هستیم و <b>طراحی</b> ما خاص و
        کاربر پسند است.</p>
    </div>
    <div class="col-md-4 float-right">
      <p>در وکسوس، ما بر این باوریم که مد فراتر از لباس است—این یک شکل از بیان خود است. ماموریت ما ارائه لباس‌های شیک و
        باکیفیتی است که به شما قدرت می‌دهد هر روز با اعتماد به نفس ظاهر شوید و بهترین نسخه خود باشید.</p>
    </div>
    <div class="col-md-4 float-right">
      <p><strong>آخرین ترندها</strong> تعهد به پایداری، ما مجموعه‌ای دست‌چین شده از لباس‌ها را ارائه می‌دهیم که برای هر
        موقعیتی مناسب هستند. چه برای یک مراسم ویژه لباس انتخاب کنید یا کمد روزمره خود را به‌روزرسانی کنید، ما اینجا
        هستیم تا به شما کمک کنیم سبک خود را تعریف کنید.</p>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="row">
    <div class="col-md-12">
      <div class="our-story wow fadeInUp" style="background: url(../../../assets/img/our-story.jpg) no-repeat" data-wow-duration="0.5s"
           data-wow-delay="0.2s">
        <div class="col-md-6 col-md-offset-6">
          <div class="our-story-content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
            <div class="our-story-content-inner">
              <h1>داستان ما</h1>
              <hr>
              <p>
                به وکسوس خوش آمدید، جایی که مد با فردیت شما همگام می‌شود. مجموعه ما با دقت انتخاب شده است تا بهترین‌های
                سبک معاصر را به شما ارائه دهد و اطمینان حاصل کند که در هر جمعی برجسته باشید. ما به جزئیات توجه ویژه‌ای
                داریم، از انتخاب پارچه‌ها تا دوخت نهایی، تا لباسی باکیفیت و زیبا به دست شما برسد. <br><br>
                ما با اشتیاق به طراحی و کیفیت، مجموعه‌ای از لباس‌های منحصربه‌فرد را برای شما فراهم کرده‌ایم. هدف ما این
                است که تجربه‌ای لذت‌بخش از خرید آنلاین را برای شما فراهم کنیم، جایی که می‌توانید با اطمینان خاطر
                لباس‌هایی را انتخاب کنید که نه تنها به سبک شما می‌آیند بلکه با ارزش‌های شما نیز همخوانی دارند. ما به شما
                کمک می‌کنیم تا با هر لباس، بخشی از شخصیت و داستان خود را بیان کنید.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top text-right" style="direction: rtl">
  <div class="main-title">
    <h1>چرا ما را انتخاب کنید؟</h1>
    <hr>
    <h6>جز برای به دست مزیت های بسیار؟</h6>
  </div>
  <div class="col-md-4 float-right">
    <div class="row">
      <div class="services-home-page">
        <div class="col-md-12 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.2s">
          <div class="row">
            <div class="services-icon">
              <span class="icon-tools"></span>
              <hr>
            </div>
            <h4 class="">برندینگ</h4>
            <p>بخش برندینگ در یک فروشگاه لباس نقش حیاتی در ایجاد اعتماد و ارتباط عاطفی با مشتریان ایفا می‌کند. برندینگ
              تنها یک نام یا لوگو نیست؛ بلکه هویتی است که به مشتریان ما نشان می‌دهد که ما کی هستیم و چه ارزشی ارائه
              می‌دهیم. با تمرکز بر کیفیت بالا، طراحی‌های منحصربه‌فرد و استفاده از مواد اولیه برتر، ما اطمینان می‌دهیم که
              هر خرید از فروشگاه ما، تجربه‌ای فراتر از یک خرید ساده خواهد بود. برند ما نمایانگر تعهد به مد پایدار،
              احترام به نیازهای مشتریان و خلق تجربه‌ای است که هر بار شما را به ما بازمی‌گرداند.</p></div>
        </div>
        <div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
          <div class="row">
            <div class="services-icon">
              <span class="icon-globe"></span>
              <hr>
            </div>
            <h4 class="">طرح کاری</h4>
            <p>در فروشگاه ما، هر طرح و هر لباس با دقت و توجه ویژه‌ای به جزئیات طراحی و اجرا می‌شود. برنامه کاری ما
              به‌گونه‌ای تنظیم شده است که از لحظه‌ای که یک ایده در ذهن طراحان ما شکل می‌گیرد تا زمانی که به دست شما
              می‌رسد،
              تمامی مراحل با بالاترین استانداردها و با استفاده از بهترین مواد اولیه طی می‌شود.</p>
          </div>
        </div>
        <div class="col-md-12 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
          <div class="row">
            <div class="services-icon">
              <span class="icon-paintbrush"></span>
              <hr>
            </div>
            <h4 class="">طراحی</h4>
            <p>ما باور داریم که هر لباس باید بازتابی از شخصیت و سلیقه شما باشد. تیم طراحی ما با بهره‌گیری از جدیدترین
              ترندهای
              مد و ترکیب آن‌ها با الهامات بومی و فرهنگی، لباس‌هایی خلق می‌کنند که هم مدرن و هم اصیل هستند. هر طرح نه
              تنها
              زیبا و چشم‌نواز است، بلکه با دقت فراوان برای راحتی و کارایی طراحی شده است.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7 col-md-offset-right-1 float-right">
    <div class="our-story-image wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
      <img src="assets/img/services.jpg" alt="Our Story">
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="main-title" style="direction: rtl">
    <h1>تیم فوق العاده ما</h1>
    <hr>
    <h6>انتظار داشته باشید تا بهترین ها برای شما فراهم شود.</h6>
  </div>
  <div class="owl-carousel team">
    <div>
      <div class="img member">
        <img src="assets/img/team/member_1.jpg" alt="Team Member">
        <div class="overlay-thumb">
          <div class="overlay-member-content">
            <div class="overlay-member-content-inner">
              <span class="position">طراح ارشد</span>
              <hr>
              <ul class="member-social-media">
                <li><a href="http://facebook.com/EliteFingers" target="_blank">فیسبوک</a></li>
                <li><a href="http://twitter.com/EliteFingers" target="_blank">توییتر</a></li>
                <li><a href="#" target="_blank">تلگرام</a></li>
              </ul>
            </div>
          </div>
          <span class="btnBefore"></span>
          <span class="btnAfter"></span>
        </div>
      </div>
      <span class="member-name">فرد شماره یک</span>
    </div>

    <div>
      <div class="img member">
        <img src="assets/img/team/member_2.jpg" alt="Team Member">
        <div class="overlay-thumb">
          <div class="overlay-member-content">
            <div class="overlay-member-content-inner">
              <span class="position">طراح سایت</span>
              <hr>
              <ul class="member-social-media">
                <li><a href="http://facebook.com/EliteFingers" target="_blank">فیسبوک</a></li>
                <li><a href="http://twitter.com/EliteFingers" target="_blank">توییتر</a></li>
                <li><a href="#" target="_blank">تلگرام</a></li>
              </ul>
            </div>
          </div>
          <span class="btnBefore"></span>
          <span class="btnAfter"></span>
        </div>
      </div>
      <span class="member-name">فرد شماره دو</span>
    </div>

    <div>
      <div class="img member">
        <img src="assets/img/team/member_3.jpg" alt="Team Member">
        <div class="overlay-thumb">
          <div class="overlay-member-content">
            <div class="overlay-member-content-inner">
              <span class="position">توسعه دهنده</span>
              <hr>
              <ul class="member-social-media">
                <li><a href="http://facebook.com/EliteFingers" target="_blank">فیسبوک</a></li>
                <li><a href="http://twitter.com/EliteFingers" target="_blank">توییتر</a></li>
                <li><a href="#" target="_blank">تلگرام</a></li>
              </ul>
            </div>
          </div>
          <span class="btnBefore"></span>
          <span class="btnAfter"></span>
        </div>
      </div>
      <span class="member-name">فرد شماره سه</span>
    </div>

    <div>
      <div class="img member">
        <img src="assets/img/team/member_1.jpg" alt="Team Member">
        <div class="overlay-thumb">
          <div class="overlay-member-content">
            <div class="overlay-member-content-inner">
              <span class="position">طراح</span>
              <hr>
              <ul class="member-social-media">
                <li><a href="http://facebook.com/EliteFingers" target="_blank">فیسبوک</a></li>
                <li><a href="http://twitter.com/EliteFingers" target="_blank">توییتر</a></li>
                <li><a href="#" target="_blank">تلگرام</a></li>
              </ul>
            </div>
          </div>
          <span class="btnBefore"></span>
          <span class="btnAfter"></span>
        </div>
      </div>
      <span class="member-name">فرد شماره چهارم</span>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="clients-wrapper">
    <ul class="client-thumb">
      <li><a href="#"><img src="assets/img/clients/client_1.jpg" alt="Client 1"></a></li>
      <li><a href="#"><img src="assets/img/clients/client_2.jpg" alt="Client 1"></a></li>
      <li><a href="#"><img src="assets/img/clients/client_3.jpg" alt="Client 1"></a></li>
      <li><a href="#"><img src="assets/img/clients/client_4.jpg" alt="Client 1"></a></li>
    </ul>
  </div>
</div>
