<div class="container">
  <div class="header-page ef-parallax-bg" style="background-image:url(../../../assets/img/blog-header.jpg)">
    <div class="col-md-6 col-md-offset-6">
      <div class="row">
        <div class="inner-content">
          <div class="header-content">
            <h1>پست های وبلاگ</h1>
            <hr>
            <p>همه چیز در ساده ترین حالت ممکن ایجاد شده است</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container margin-top">
  <div class="blog-wrapper">
    <div class="blog-post">
      <div class="blog-front-image">
        <div class="row">
          <div class="col-md-6 wow animated fadeInUp" data-wow-delay="0.10s">
            <img src="assets/img/blog/img_1.jpg" alt="Blog Image">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="blog-front-content wow animated fadeInUp" data-wow-delay="0.20s">
              <div class="blog-front-content-inner">
                <span class="post-date">۱۴۰۳ شهریور ۱۳</span>
                <h1>ایده اولیه در شهر تبریز شکل گرفت جایی که در آن بزرگ شده ایم.</h1>
                <p>زندگی زیباست اگر آن را به زیبایی بنگری ...</p>
                <a href="single-blog.html"><i class="fa fa-chevron-circle-right color-white float-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-post">
      <div class="blog-front-image">
        <div class="row">
          <div class="col-md-6 wow animated fadeInUp" data-wow-delay="0.10s">
            <img src="assets/img/blog/img_2.jpg" alt="Blog Image">
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="blog-front-content wow animated fadeInUp" data-wow-delay="0.20s">
              <div class="blog-front-content-inner">
                <span class="post-date">۱۴۰۳ مرداد ۱۴</span>
                <h1>چگونه با مد بهاره، ظاهری شاداب و تازه داشته باشیم؟</h1>
                <p>با نزدیک شدن بهار، زمان آن رسیده که کمد لباس خود را به‌روزرسانی کنید و برای روزهای گرم و آفتابی آماده
                  شوید ...</p>
                <a href="single-blog.html"><i class="fa fa-chevron-circle-right color-white float-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-post">
      <div class="blog-front-image">
        <div class="row">
          <div class="col-md-6 wow animated fadeInUp" data-wow-delay="0.10s">
            <div class="blog-thumb">
              <img src="assets/img/blog/img_3.jpg" alt="Blog Image">
              <div class="icon-video-blog">
                <a href="https://www.youtube.com/watch?v=n2vy7qRm5s0" class="popup-video playBut">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                       x="0px" y="0px" width="69px" height="69px" viewBox="0 0 213.7 213.7"
                       enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                            <polygon class="triangle" id="XMLID_18_" fill="none" stroke-width="7"
                                                     stroke-linecap="round" stroke-linejoin="round"
                                                     stroke-miterlimit="10" points="
                                        73.5,62.5 148.5,105.8 73.5,149.1 "/>
                    <circle class="circle" id="XMLID_17_" fill="none" stroke-width="7" stroke-linecap="round"
                            stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"/>
                                        </svg>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <div class="blog-front-content wow animated fadeInUp" data-wow-delay="0.20s">
              <div class="blog-front-content-inner">
                <span class="post-date">۱۴۰۳ مرداد ۲۵</span>
                <h1>چگونه برای مراسم رسمی، استایلی بی‌نقص انتخاب کنیم؟</h1>
                <p>اسم رسمی مانند عروسی‌ها، مهمانی‌های شبانه و رویدادهای کاری، نیاز به استایلی دارند که هم شیک و هم
                  حرفه‌ای
                  ...</p>
                <a href="single-blog.html"><i class="fa fa-chevron-circle-right color-white float-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <ul class="pagination-ef wow animated fadeInUp" data-wow-delay="0.20s">
    <li>
      <a href="#">
        <i class="fa fa-angle-left"></i>
      </a>
    </li>
    <li class="current"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">...</a></li>
    <li><a href="#">8</a></li>
    <li>
      <a href="#">
        <i class="fa fa-angle-right"></i>
      </a>
    </li>
  </ul>
</div>
