<div class="footer margin-top">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <div class="footer-inner">
          <div class="footer-content">
            <h4>آدرس</h4>
            <address>تبریز </address>
          </div>
        </div>
      </div>

      <div class="col-md-2 col-md-push-8 col-sm-4 col-xs-12">
        <div class="footer-inner">
          <div class="footer-content">
            <h4>مشخصات تماس</h4>
            <p>
              T:0999 999 9999 <br>
              E:vexus&#64;mail.com <br>
              W:www.vexus.ir
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="footer-inner">
          <div class="footer-content">
            <ul class="social-media">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
            </ul>
            <span class="copyright-mark">&copy; 2024 vexus</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="fa fa-arrow-up"></i></a>
