<!-- Preloader -->
<div class="cover"></div>

<div class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <!--                    <img src="assets/img/logo.png" alt="Logo">-->
      </a>
    </div>

    <!-- Menu Hamburger (Default) -->
    <button class="main-menu-indicator" id="open-button">
      <span class="line"></span>
    </button>

    <div class="menu-wrap" style="background-image: url('../../../assets/img/nav_bg.jpg')">
      <div class="menu-content">
        <div class="navigation">
<!--          &lt;!&ndash;          <span class="pe-7s-close close-menu" id="close-button"></span>&ndash;&gt; notworked-->
          <button type="button" class="close close-menu pe-7s-close float-left" aria-label="Close" id="close-button">
            <span aria-hidden="true">&times;</span>
          </button>

          <div class="search-wrap js-ui-search">
            <input class="js-ui-text" type="text" placeholder="Search Here...">
            <span class="eks js-ui-close"></span>
          </div>
        </div>
        <nav class="menu">
          <div class="menu-list">
            <ul>
              <li class="menu-item-has-children"><a [routerLink]="['/']">خانه</a>
                <ul class="sub-menu">
                  <li><a [routerLink]="['']">- صفحه اصلی</a></li>
                  <li><a href="index-architecture.html">- صفحه منتخب</a></li>
                  <li><a href="index-full-slider.html">- صفحه جایگزین</a></li>
                </ul>
              </li>
              <li><a [routerLink]="['/about']">درباره ما</a></li>
              <li class="menu-item-has-children"><a [routerLink]="['/blog']">پروفایل من</a>
                <ul class="sub-menu">
                  <li><a href="portfolio-2column.html">-صفحه اول</a></li>
                  <li><a href="portfolio-3column.html">-صفحه دوم</a></li>
                  <li><a href="portfolio-masonry.html">-پروفایل اول</a></li>
                  <li><a href="portfolio-dribbble.html">-پروفایل دوم</a></li>
                </ul>
              </li>
              <li class="menu-item-has-children"><a href="#">بلاگ</a>
                <ul class="sub-menu">
                  <li><a href="blog.html">صفحه اصلی بلاگ</a></li>
                  <li><a href="blog-timeline.html"> جدول زمانی وبلاگ</a></li>
                  <li><a href="single-blog.html">مطالب</a></li>
                </ul>
              </li>
              <li><a [routerLink]="['/contact']">ارتباط</a></li>
            </ul>
          </div>
        </nav>

        <div class="hidden-xs">
          <div class="menu-social-media">
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>

          <div class="menu-information">
            <ul>
              <li><span>T:</span> 0999 999 9999</li>
              <li><span>E:</span> vexus&#64;gmail.com</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Menu Hamburger (Default) -->

  </div>
</div>
